@import url("reset.css");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.container {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #4611c7;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Form {
  padding: 1rem;
  width: 50%;
}

.Form .main-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #4611c7;
}

.Form-title {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
  color: #4611c7;
}

.Form .input {
  outline: none;
  border-radius: 24px 4px;
  border: 1px solid #4611c7;
  height: 3.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Form-month {
  margin-right: 1rem;
}

.Form-month, .Form-year, .Form-cvv {
  width: 8rem !important;
}

.card {
  width: 350px;
  height: 200px;
  -webkit-perspective: 500px;
          perspective: 500px;
  margin-left: 2rem;
  color: rgba(0, 0, 0, 0.5);
}

.card-numbers {
  font-size: 2rem;
  overflow: hidden;
}

.card-chip {
  width: 50px;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.card-name {
  text-transform: uppercase;
  overflow: hidden;
}

.card-date {
  position: relative;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-date::after {
  content: "MONTH/YEAR";
  font-size: 7px;
  position: absolute;
  top: -5px;
  left: 0;
}

.card-date::before {
  content: "valid thru";
  right: 100%;
  margin-right: 5px;
  margin-top: 2px;
  bottom: 5px;
  position: absolute;
  font-size: 7px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front {
  padding: 20px;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #dddddd;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front-bar,
.back-bar {
  width: 100%;
  height: 3rem;
  background-color: #2c2c2c;
  margin-top: 1.2rem;
}

.front-code,
.back-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.front-code-bar,
.back-code-bar {
  width: 100%;
  height: 2rem;
  background-color: #fff;
  margin-left: 0.5rem;
}

.front-card-cvv,
.back-card-cvv {
  text-align: center;
  width: 20%;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.front-chip,
.back-chip {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background: #ccc;
  position: relative;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.front-chip::before,
.back-chip::before {
  content: " ";
  display: block;
  width: 70%;
  height: 60%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #d9d9d9;
  top: 20%;
  position: absolute;
}

.front-text,
.back-text {
  font-size: 0.5rem;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=main.css.map */